<template name="messageBox">
{{#with currentChat}}
<div class="panel panel-info">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-comment"></span>&nbsp;
        <span class="panel-title">Panel title</span>
    </div>
    <div class="panel-body">
        <div class="msgbox" style="height:205px;overflow:auto">
            {{#each messages}}
            {{#if $eq currentUser._id senderId }}
            <div class="pull-right" style="clear:both">
                <p class="text-right msgtitle">{{sender}}</p>
                <p class="alert alert-success msgbox inline pull-right">
                {{content}}
                </p>
            </div>
            {{else}}
            <div style="clear:both">
                <p class="msgtitle">{{sender}}</p>
                <p class="alert alert-warning msgbox inline">
                {{content}}
                </p>
            </div>

            {{/if}}
            {{/each}}
        </div>
        <div class="subform">
            <textarea id="msgContent" class="form-control" rows="3"></textarea>
            <p>
                <button class="pull-right" id="sendBtn">发送</button>
            </p>
       </div>
    </div>
</div>
{{/with}}
</template>
