<template name="leftMenu">
<div class="panel-group list-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-user"></span>&nbsp;
            <span class="panel-title"> 联系人</span>
        </div>
        <div class="panel-body">
            <ul class="list-group" id="collapseOne">
                <li class="list-group-item">
                <span class="badge">14</span>
                Cras justo odio
                </li>
                <li class="list-group-item">
                <span class="badge">14</span>
                Cras justo odio
                </li>

            </ul>

        </div>
    </div>
</div>
</template>

